body {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    height: 80vh;
}

/* TODO  работа по Slideshow */


.hptext {
    border: 2px solid #000;
    width: 400px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 100px;
    margin-bottom: 20px;
}

.hptext p {
    text-align: justify;
    padding: 20px;

}



/* NAV BAR */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

nav {
    position: relative;
    margin-left: -39px;
}

nav>ul {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 97.1%;
    margin: 0 auto;
    list-style-type: none;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

nav>ul>li {
    float: left;
    width: 25%;
    cursor: pointer;
}

nav>ul>li>a {
    display: block;
    padding: 1em 0 1em .5em;
    background-color: #24262b;
    color: #fff;
    border-left: .4em solid #24262b;
    border-right: .1em solid #24262b;
    text-decoration: none;

}

nav>ul>li:hover>a {
    color: #e91e63;
    border-right: .2em solid#24262b;
}

nav>ul>li>ul {
    display: none;
    padding: 10px 20px;
    position: relative;
    list-style-type: none;
    background-color: #CCC;

}

nav a {
    text-decoration: none;
    color: #000;
}

nav>ul>li:hover>ul {
    display: block;
}

nav>ul>li>ul>li {
    padding: .5em 0 .5em .5em;
    border-bottom: 2px solid #e91e63;
    text-align: left;

}

nav>ul>li>ul>li:first-child {
    padding-top: 1em;
}

nav>ul>li>ul>li:last-child {
    border-bottom: .3em solid #e91e63;
}

nav>ul>li>ul>li:hover {
    border-left: .5em solid #e91e63;
    border-right: 1px solid #e91e63;
    background-color: #EFEFEF;
    color: #e91e63;
    text-decoration: none;
}

ul>li>ul>li>a:hover {
    background-color: #EFEFEF;
    color: #e91e63;
    text-decoration: none;
}


/* SLIDESWOL */
.bgimg {
    width: 100%;
    height: 460px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/slide4.jpg');
    background-size: 100% 100%;
    animation: slider 15s infinite linear;
}

@keyframes slider {
    0% {
        background-image: url('../images/slide1.jpg');
    }

    35% {
        background-image: url('../images/slide2.jpg');
    }

    75% {
        background-image: url('../images/slide3.jpg');
    }
}


h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;

}

/* FOOTER */

.footer-cont {
    width: 100%;
    background-color: #24262b;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    line-height: 1.5;
}

.footer-col {
    width: 22%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-left: 40px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 3px;
    box-sizing: border-box;
    width: 150px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #e91e63;
    padding-left: 8px;

}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 5px 10px 5px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
    color: #e91e63;
    background-color: #fff;

}

/* MAIN */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    width: 400px;
    height: 500px;
    margin: 10px 20px;
    box-shadow: 2px 4px 20px #000;
    border-radius: 10px;

}

.card-image {
    background-color: aqua;
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 10px;
}

.car-1 {
    background-image: url('../images/card1.jpg');
    background-size: cover;
}

.car-2 {
    background-image: url('../images/card2.jpg');
}

.car-3 {
    background-image: url('../images/card3.jpg');
}

.car-4 {
    background-image: url('../images/card4.jpg');
}

.car-5 {
    background-image: url('../images/card5.jpg');
}

.car-6 {
    background-image: url('../images/card6.jpg');
}

.card h2 {
    padding: 10px;
}

.card p {
    padding: 10px;
    text-align: justify;
    font-weight: bold;
}

.card a {
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 0px auto;
    text-decoration: none;
    border-radius: 20px;
    width: 150px;
}

.card:hover {
    background-color: #24262b;
    color: #fff;
    cursor: pointer;
    transform: scale(1.09);
    transition: all 1s ease;
}

/* ! page services*/


.contentA div {
    width: 700px;
    height: 100px;
    border: 2px solid #000;
    margin: 10px;

}

.contentA div p {
    text-align: justify;
    padding: 0 10px;
    font-weight: bold;
}

.contentB {
    float: right;
    width: 620px;
    height: 556px;
    border: 2px solid #000;
}

.contentB p {
    text-align: justify;
    padding: 10px;
    font-weight: bold;
}

/* ! page - prices*/


.column {
    float: left;
    width: 30%;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    height: 500px;
    border: 1px solid #000;
    border-radius: 20px;
}

.column ol {
    margin: 100px 0px;
    font-size: 20px;
    font-weight: bold;

}

.column li {
    margin: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* ! page - contacts */


.cont-page {
    display: flex;
}

iframe {
    width: 500px;
    height: 500px;
    margin: 20px;

}

form {
    width: 90%;
    max-width: 600px;
    margin: 25px 100px;

}

input,
textarea {
    width: 100%;
    padding: 5px;
    font-size: 15px;
    margin: 10px 0;
}

button {
    padding: 10px 0;
    color: #000;
    outline: none;
    background: transparent;
    border: 1px solid #000;
    cursor: pointer;
    width: 50%;

}

label {
    padding: 10px;
}


/* ! page - about us */
